<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Microsoft CIs are not allowed to reach nuget.org or jrsoftware.org directly.
    The feed below mirrors nuget.org through an upstream source.
  -->
  <packageSources>
    <clear />
    <add key="uutils-installer-nuget" value="https://pkgs.dev.azure.com/microsoft/Dart/_packaging/uutils-installer/nuget/v3/index.json" />
  </packageSources>
</configuration>
